<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recaudo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../assets/styles/estilos.css">
</head>
<body>
    <main>
        <section class="container">
            <div class="row justify-content-center text-center ">
                <div class="col-12">
                    <img src="/assets/img/Frailejon-Ernesto-Perez png.png" alt="frailejon" height="300">
                    <h1>APORTA</h1>
                </div>
            </div>
        </section>
     

                <section class="container">
                    <div class="row justify-content-center  p-5">
                        <div class="col-6 border border-5  p-4">
                            
                            <form>

                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-people-fill"></i></span>
                                    <input type="text" class="form-control" placeholder="Nombres y Apellidos">
                                    </div>
                                
                                 <select class="form-select mt-3">
                                    <option selected>Selecciona el Departamento</option>
                                    <option value="1">Antioquia</option>
                                    <option value="2">Amazonas</option>
                                    <option value="3">Boyaca</option>
                                    <option value="4">Cundinamarca</option>
                                    <option value="4">Caldas</option>
                                  </select>
                                  <div class="mt-3">
                                    <h2 class="justify-content-center text-center">Selecciona tu tipo de aporte</h2>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          Articulos para la conservación
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                          Trabajo voluntario
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                          Alimentos
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                          500 USD
                                        </label>
        
                                        
                                      <div class="mt-3">
                                        <h2 class="justify-content-center text-center">Género</h2>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Masculino
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                              Femenino
                                            </label>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="mt-3">
                                    
                                    <input type="file">

                                  </div>
                            </form>
                           
                          
                    </div>
                </section>
               
            </div>
        </section>
    </main>
   
<footer>
    <section class="container">
        <div class="row justify-content-center text-center bg-success">
            <div class="col-4">
                <h1>FRAILEJON</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126916.74116928011!2d-75.66361363929244!3d6.244197043298849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428dfb80fad05%3A0x42137cfcc7b53b56!2sMedell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1707431834819!5m2!1ses-419!2sco" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-4 border">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam accusantium cupiditate dolores tempora earum voluptatum nemo delectus molestiae. Optio ratione ipsam facilis minus hic illum, cum eveniet nihil nesciunt tempora.
                Dolor officiis mollitia sit in harum quisquam consequuntur dolores, voluptate non suscipit esse iure incidunt blanditiis nesciunt ipsam quod soluta sint aut explicabo. Et, eveniet quasi dolor maxime consequuntur quas!</p>
            </div>
            <div class="col-4">
                <i class="bi bi-instagram fs-1 me-3"></i>
                <i class="bi bi-whatsapp fs-1"></i>
            </div>
        </div>
    </section>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>